@model IEnumerable<DienMayQuyetTien.Models.BangSanPham>

@{
    ViewBag.Title = "Bảng Sản Phẩm";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .pull-left {
        float: left !important;
    }
</style>
<h2>Bảng Sản Phẩm</h2>

<p>
    @Html.ActionLink("Tạo sản phẩm", "Create")
</p>
<table class="BangSanPham table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Mã SP
            </th>
            <th>
                Tên SP
            </th>
            <th>
                Giá bán
            </th>
            <th>
                Giá gốc
            </th>
            <th>
                Giá góp
            </th>
            <th>
                Số lượng tồn
            </th>
            <th>
                Tên loại
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @item.MaSP
                </td>
                <td>
                    @item.TenSP
                </td>
                <td>
                    @item.GiaBan.ToString("N0")
                </td>
                <td>
                    @item.GiaGoc.ToString("N0")
                </td>
                <td>
                    @item.GiaGop.ToString("N0")
                </td>
                <td>
                    @item.SoLuongTon
                </td>
                <td>
                    @item.TenSP
                </td>
                <td>
                    <img src="@Url.Action("Details", new { id = item.id})" width="70px" height="50px" />
                </td>
                <td>
                    <a href="@Url.Action("Edit", new { id = item.id })">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a href="@Url.Action("Delete", new { id = item.id })">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>

        }
    </tbody>
</table>
@section Scripts{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            var table = $('.BangSanPham').DataTable({
                dom: 'frtip'

            });

            $('.dataTables_filter').addClass('pull-left');
        });

    </script>
    
}
